.chart-container {
  height: 400px;
  padding: 1rem;
  background: white;
  position: relative;
}

.empty-msg {
  text-align: center;
  color: #71717a;
  margin-top: 2rem;
  font-weight: 500;
}

#chart-serie{
  margin-bottom: 25px;
}