.navbar {
  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid var(--border-color);
  position: sticky;
  top: 0;
  z-index: 100;
  padding: 0.8rem 0;
}

.nav-content {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
  font-weight: 800;
  color: #18181b;
  margin: 0;
  letter-spacing: -1px;
}

.logo span { 
    color: #FD3DB5;
}

.nav-links {
  display: flex;
  gap: 5px; 
  background-color: #f4f4f5;
  padding: 5px;
  border-radius: 50px;
}

.nav-links a {
  text-decoration: none;
  color: #71717a;
  font-weight: 600;
  font-size: 0.9rem;
  padding: 0.6rem 1.2rem;
  border-radius: 40px;
  transition: all 0.3s ease;
  border: none;
  cursor: pointer;
}

.nav-links a:hover {
  color: #000;
}

.nav-links a.active {
  background-color: #ffffff;
  color: #FD3DB5;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.graph-icon {
  width: 20px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../../public/gray-progress-graph-icon.png");
}

.graph:hover .graph-icon {
  background-image: url("../../public/dark-progress-graph-icon.png");
}

.nav-links a.active .graph-icon {
  background-image: url("../../public/magenta-progress-graph-icon.png");
}